alabaster==0.7.3
Babel==1.3
blinker==1.3
certifi==14.5.14
cogapp==2.4
coverage==3.7.1
docutils==0.12
doit==0.27.0
ghp-import==0.4.1
gunicorn==19.3.0
ipython==3.1.0
Jinja2==2.7.3
Logbook==0.9.0
lxml==3.4.3
Mako==1.0.1
MarkupSafe==0.23
matplotlib==1.4.3
mpld3==0.2
natsort==3.5.6
Nikola==7.3.1
nose==1.3.6
numpy==1.9.2
oauthlib==0.7.2
pandas==0.16.0
Pillow==2.8.1
psycopg2==2.6
Pygments==2.0.2
pyinotify==0.9.5
pyparsing==2.0.3
PyRSS2Gen==1.1
python-dateutil==2.4.2
pytz==2015.2
PyYAML==3.11
pyzmq==14.5.0
requests==2.6.0
requests-oauthlib==0.4.2
scipy==0.15.1
seaborn==0.5.1
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
sqlparse==0.1.15
tornado==4.1
unicode-slugify==0.1.3
Unidecode==0.4.17
webassets==0.10.1
whitenoise==1.0.6
Yapsy==1.11.23
